@model IEnumerable<Flight>
@{
    ViewData["Title"] = "Cancel flights";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Flight list</h2>
        </div>
    </div>
    <br />
    <table class="table table-stripped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    NumberOfSeats
                </th>
                <th>
                    NumberOfLayovers
                </th>
                <th>
                    From City
                </th>
                <th>
                    To City
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="15%">
                        @obj.Date
                    </td>
                    <td width="15%">
                        @obj.NumberOfSeats
                    </td>
                    <td width="15%">
                        @obj.NumberOfLayovers
                    </td>
                    <td width="15%">
                        @obj.FromCity.Name
                    </td>
                    <td width="15%">
                        @obj.ToCity.Name
                    </td>
                    <td>
                        <div class="w-75 btn-group">
                            <a asp-controller="Flight" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-x-circle"></i> &nbsp; Cancel</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>