@model IEnumerable<Reservation>
@{
    ViewData["Title"] = "Approve reservations";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Reservation list</h2>
        </div>
    </div>
    <br />
    <table class="table table-stripped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Number of seats
                </th>
                <th>
                    From city
                </th>
                <th>
                    To city
                </th>
                <th>
                    Date
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="15%">
                        @obj.User.UserName
                    </td>
                    <td width="15%">
                        @obj.NumberOfSeats
                    </td>
                    <td width="15%">
                        @obj.Flight.FromCity.Name
                    </td>
                    <td width="15%">
                        @obj.Flight.ToCity.Name
                    </td>
                    <td width="15%">
                        @obj.Flight.Date
                    </td>
                    <td>
                        <div class="w-75 btn-group">
                            <a asp-controller="Reservation" asp-action="Edit" asp-route-userId="@obj.User.Id" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Approve reservation</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>